div.query-visualiser {
  #query-input-form {
    label {
      display: block;
      padding-bottom: 4px;
    }

    textarea {
      border-radius: 4px;
      min-height: 80px;
      resize: vertical;
      width: 100%;
    }
  }

  #control-plane {
    display: flex;
    justify-content: space-between;
  }

  table {
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      border: 1px solid gray;
      padding: 4px 8px;
    }

    th {
      background-color: lightgray;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  #history-modal {
    max-width: 480px;
    min-height: 480px;
    position: relative;

    hgroup {
      text-align: center;

      h2,
      h4,
      h5 {
        margin: 0;
      }
    }

    ol {
      padding-inline-start: 15px;

      li {
        background-color: lightgray;
        border-radius: 4px;
        cursor: pointer;

        pre {
          overflow-x: auto;
          padding: 6px 8px;
        }
      }

      li:hover {
        background-color: rgb(232, 230, 230);
      }

      li:active {
        background-color: rgb(188, 184, 184);
      }
    }

    #history-footer {
      position: sticky;
      bottom: 0;
      width: 100%;
      background-color: white;
    }
  }
}
